adws/n8n-workflows/adws-multi-llm-synthesis-v2.json
{
  "name": "ADWS Multi-LLM Synthesis v2",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "adws-synthesis",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 300],
      "webhookId": "adws-synthesis"
    },
    {
      "parameters": {
        "model": "claude-opus-4-5-20251101",
        "messages": {
          "values": [
            {
              "type": "system",
              "content": "You are a Senior Technical Architect analyzing GitHub issues for implementation planning.\n\nAnalyze the provided issue from a TECHNICAL perspective. Focus on:\n1. System design implications\n2. Data flow and dependencies\n3. API changes required\n4. Performance considerations\n5. Technical debt impact\n\nBe specific and actionable. Reference concrete files, functions, and architectural patterns."
            },
            {
              "type": "user",
              "content": "={{ $json.body.issue }}"
            }
          ]
        },
        "options": {
          "maxTokens": 4000
        }
      },
      "id": "claude-technical",
      "name": "Claude Technical Analysis",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.2,
      "position": [300, 100],
      "credentials": {
        "anthropicApi": {
          "id": "anthropic-credentials",
          "name": "Anthropic account 2"
        }
      }
    },
    {
      "parameters": {
        "model": "gpt-5.1-2025-11-13",
        "messages": {
          "values": [
            {
              "type": "system",
              "content": "You are a UX Engineer and Product Analyst analyzing GitHub issues for user impact.\n\nAnalyze the provided issue from a USER EXPERIENCE perspective. Focus on:\n1. User workflow impact\n2. UI/UX changes needed\n3. Accessibility considerations\n4. Error handling and user feedback\n5. Documentation needs\n\nBe specific about user-facing changes and interaction patterns."
            },
            {
              "type": "user",
              "content": "={{ $json.body.issue }}"
            }
          ]
        },
        "options": {
          "maxTokens": 4000
        }
      },
      "id": "gpt-user-impact",
      "name": "GPT User Impact Analysis",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [300, 300],
      "credentials": {
        "openAiApi": {
          "id": "openai-credentials",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": "gemini-3-flash-preview",
        "messages": {
          "values": [
            {
              "type": "system",
              "content": "You are a Security Engineer and QA Specialist analyzing GitHub issues for risk assessment.\n\nAnalyze the provided issue from a RISK perspective. Focus on:\n1. What could go wrong\n2. Edge cases to handle\n3. Security implications\n4. Rollback considerations\n5. Testing requirements\n\nBe specific about failure modes and mitigation strategies."
            },
            {
              "type": "user",
              "content": "={{ $json.body.issue }}"
            }
          ]
        },
        "options": {
          "maxTokens": 4000
        }
      },
      "id": "gemini-risk",
      "name": "Gemini Risk Assessment",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [300, 500],
      "credentials": {
        "googleGeminiApi": {
          "id": "gemini-credentials",
          "name": "Google Gemini account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "id": "merge-perspectives",
      "name": "Merge Perspectives",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [600, 300]
    },
    {
      "parameters": {
        "model": "claude-opus-4-5-20251101",
        "messages": {
          "values": [
            {
              "type": "system",
              "content": "You are a Principal Engineer synthesizing multiple analysis perspectives into an actionable implementation plan.\n\nYou will receive three perspectives:\n1. Technical Analysis (architecture, performance, dependencies)\n2. User Impact Analysis (UX, accessibility, documentation)\n3. Risk Assessment (security, testing, rollback)\n\nSynthesize these into a UNIFIED IMPLEMENTATION PLAN with:\n1. Summary (2-3 sentences)\n2. Implementation steps (ordered, specific)\n3. Testing requirements\n4. Success criteria\n\nResolve any conflicts between perspectives. Prioritize safety and user experience."
            },
            {
              "type": "user",
              "content": "=## Technical Perspective (Claude)\n{{ $('Claude Technical Analysis').item.json.message.content }}\n\n## User Perspective (GPT)\n{{ $('GPT User Impact Analysis').item.json.message.content }}\n\n## Risk Perspective (Gemini)\n{{ $('Gemini Risk Assessment').item.json.message.content }}\n\nSynthesize these perspectives into a unified implementation plan."
            }
          ]
        },
        "options": {
          "maxTokens": 4000
        }
      },
      "id": "claude-synthesis",
      "name": "Claude Synthesis",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.2,
      "position": [900, 300],
      "credentials": {
        "anthropicApi": {
          "id": "anthropic-credentials",
          "name": "Anthropic account 2"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"synthesized_plan\": {{ JSON.stringify($json.message.content) }},\n  \"perspectives\": {\n    \"technical\": {{ JSON.stringify($('Claude Technical Analysis').item.json.message.content) }},\n    \"user_impact\": {{ JSON.stringify($('GPT User Impact Analysis').item.json.message.content) }},\n    \"risk\": {{ JSON.stringify($('Gemini Risk Assessment').item.json.message.content) }}\n  },\n  \"metadata\": {\n    \"timestamp\": \"{{ $now.toISO() }}\",\n    \"workflow_version\": \"2.0.0\",\n    \"models\": {\n      \"technical\": \"claude-opus-4-5-20251101\",\n      \"user_impact\": \"gpt-5.1-2025-11-13\",\n      \"risk\": \"gemini-3-flash-preview\",\n      \"synthesis\": \"claude-opus-4-5-20251101\"\n    }\n  }\n}",
        "options": {}
      },
      "id": "webhook-response",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1200, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          { "node": "Claude Technical Analysis", "type": "main", "index": 0 },
          { "node": "GPT User Impact Analysis", "type": "main", "index": 0 },
          { "node": "Gemini Risk Assessment", "type": "main", "index": 0 }
        ]
      ]
    },
    "Claude Technical Analysis": {
      "main": [
        [{ "node": "Merge Perspectives", "type": "main", "index": 0 }]
      ]
    },
    "GPT User Impact Analysis": {
      "main": [
        [{ "node": "Merge Perspectives", "type": "main", "index": 1 }]
      ]
    },
    "Gemini Risk Assessment": {
      "main": [
        [{ "node": "Merge Perspectives", "type": "main", "index": 2 }]
      ]
    },
    "Merge Perspectives": {
      "main": [
        [{ "node": "Claude Synthesis", "type": "main", "index": 0 }]
      ]
    },
    "Claude Synthesis": {
      "main": [
        [{ "node": "Webhook Response", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true
  },
  "meta": {
    "templateCredsSetupCompleted": true
  }
}
